requests==2.28.1
pandas==2.1.1
pytest==8.0.1
google-cloud-bigquery==3.21.0
pytest-bigquery-mock==0.1.2
requests-mock==1.11.0
python-dotenv==0.21.1
pyarrow==16.0.0
pytest-cov==4.1.0
db-dtypes==1.2.0
numpy==1.24.2